import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.dates import DateFormatter, MonthLocator
import matplotlib.dates as mdates
from matplotlib.dates import WeekdayLocator, DateFormatter, MO
import datetime
import matplotlib.colors as mcolors
import numpy as np
from scipy.stats import ttest_ind
from scipy import stats
from statsmodels.stats.proportion import proportions_ztest
