import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.colors as mcolors
import numpy as np
from matplotlib.dates import MonthLocator, DateFormatter
from matplotlib.ticker import PercentFormatter
